<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.hrms.mapper.AttendanceMapper">
	<resultMap id="attendanceResultMap"
		type="jp.co.hrms.model.Attendance">
		<id column="id" property="id" />
		<result column="employee_id" property="employeeId" />
		<result column="date_" property="date" />
		<result column="check_in" property="checkIn" />
		<result column="check_out" property="checkOut" />
		<result column="rest_in" property="restIn" />
		<result column="rest_out" property="restOut" />
		<result column="status" property="status" />
	</resultMap>
	
	<!-- TimeCard功能，插入打卡資訊-->
	<insert id="setTimeCardRecord" parameterType="Attendance">
		INSERT INTO ATTENDANCE(EMPLOYEE_ID,DATE_, CHECK_IN, CHECK_OUT, REST_IN,
		REST_OUT, STATUS)
		VALUES (#{employeeId}, #{date}, #{checkIn}, #{checkOut}, #{restIn}, #{restOut}, #{status})
	</insert>

	<!-- TimeCard功能，以員工ID查詢最新打卡記錄-->
	<select id="getLatestTimeCard"
		resultType="Attendance">
		SELECT EMPLOYEE_ID, DATE_,
	       	MAX(CHECK_IN) AS CHECK_IN,
	       	MAX(CHECK_OUT) AS CHECK_OUT,
	       	MAX(REST_IN) AS REST_IN,
	       	MAX(REST_OUT) AS REST_OUT
		FROM ATTENDANCE
		WHERE EMPLOYEE_ID =#{employeeId} 
		AND DATE_ = #{date}
		GROUP BY EMPLOYEE_ID, DATE_
		ORDER BY DATE_ DESC LIMIT 1;
	</select>
	
	<update id="updateAttendance" parameterType="Attendance">
        UPDATE attendance
        SET employee_id = #{employeeId},
            date_ = #{date},
            check_in = #{checkIn},
            rest_in = #{restIn},
            rest_out = #{restOut},
            check_out = #{checkOut},
            status = #{status}
        WHERE employee_id = #{employeeId}
    </update>
	<select id="getAttendanceRecordByEmployeeId"
		resultMap="attendanceResultMap">
		SELECT *
		FROM ATTENDANCE
		WHERE EMPLOYEE_ID = #{employeeId}
	</select>
</mapper>
