<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>HRManagementSystem</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/styleindex.css}" href="../../static/css/styleindex.css" />
  <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../static/js/jquery.min.js"></script>
  <style>
    .functionalitycontent {
      font-size: 24px;
      text-align: center;
      margin: 20px 0;
      width: 80%;
      margin: 0 auto;
      border-collapse: collapse;
      margin-bottom: 20px;
      border: 1px solid black;
      padding: 10px;
      text-align: left;
    }
  </style>
</head>

<body>
  <td colspan="2" rowspan="2">
    <!--畫面的白色部分在這邊。-->
    <div id="content">
      <div class="title">社員情報</div>
      <div class="functionalitycontent">
        <table th:each="Info:${EmpsInfo}">
          <tr>
            <th>社員番号</th>
            <td>：</td>
            <td th:text="${Info.id}"></td>
          </tr>
          <tr>
            <th>氏名</th>
            <td>：</td>
            <td th:text="${Info.name}"></td>
          </tr>
          <tr>
            <th>性別</th>
            <td>：</td>
            <td th:text="${Info.gender}"></td>
          </tr>
          <tr>
            <th>生年月日</th>
            <td>：</td>
            <td th:text="${Info.birth}"></td>
          </tr>
          <tr>
            <th>住所</th>
            <td>：</td>
            <td th:text="${Info.address}"></td>
          </tr>
          <tr>
            <th>携帯番号</th>
            <td>：</td>
            <td th:text="${Info.phoneNumber}"></td>
          </tr>
          <tr>
            <th>ステータス</th>
            <td>：</td>
            <td th:text="${Info.status}"></td>
          </tr>
          <tr>
            <th>部門名</th>
            <td>：</td>
            <td th:text="${Info.departmentName}"></td>
          </tr>
          <tr>
            <th>役職名</th>
            <td>：</td>
            <td th:text="${Info.positionName}"></td>
          </tr>
          <tr>
            <th>入社日</th>
            <td>：</td>
            <td th:text="${Info.hireDate}"></td>
          </tr>
          <tr id="pwd">
            <th>パスワード</th>
            <td>：</td>
            <td><input type="submit" id="pwdChange" value="パスワード変更"></td>
          </tr>
        </table>
        <form th:action="@{/indexEmployees}" th:method="post" id="pwdChangeForm">
          <table>
            <span id="msg"></span>
            <tr id="pwdChangeText1" style="display:none;">
              <th>旧パスワード</th>
              <td>：</td>
              <td colspan="3"><input type="text" id="pwdBefore" name="pwdBefore"></td>
            </tr>
            <tr id="pwdChangeText2" style="display:none;">
              <th>新しいパスワード</th>
              <td>：</td>
              <td colspan="3"><input type="password" id="pwdAfter" onblur="pwdCheck();">
                <span id="msgOK2"></span>
              </td>
            </tr>
            <tr id="pwdChangeText3" style="display:none;">
              <th>パスワードの確認</th>
              <td>：</td>
              <td colspan="3"><input type="password" name="pwdComfirm" id="pwdComfirm" onblur="samePwd();">
                <span id="msgOK3"></span>
              </td>
              <br>
              <td><input type="submit" id="pwdChange2" value="変更する"></td>
              <span th:text="${msg}" id="msg"></span>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </td>
  </tr>
  </table>
  <script type="text/javascript" th:src="@{/js/register.js}" src="../../static/js/register.js"></script>
</body>
</html>