<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>HRManagementSystem</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/empInfo.css}" href="../../static/css/empInfo.css" />
</head>

<body>
  <div class="container profile">
    <div class="cell6">
      <h1><span><strong class="title-text">プロフィール</strong></span></h1>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="profile-photo">
          <img
            src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&h=640&w=950"
            alt="Jmnathan Smith" />
        </div>
      </div>
      <div class="col-7" th:each="Info:${EmpInfo}">
        <div class="profile-info">
          <div class="profile-preword"><span>Hello</span></div>
          <div class="flex-container">
            <h1 class="profile-title" th:text="${Info.name}"></h1>
            <div class="cell4">
              <input type="submit" class="changepwd" value="パスワード変更">
            </div>
          </div>
          <div class="flex-container">
            <h2 class="profile-position" th:text="${Info.departmentName}"></h2>
            <div class="cell4">
              <input type="submit" class="changeInfo" value="プロフィール編集">
            </div>
          </div>
        </div>
        <ul class="profile-list">
          <li class="clearfix">
            <strong class="title">生年月日</strong>
            <span class="cont" th:text="${Info.birth}"></span>
          </li>
          <li class="clearfix">
            <strong class="title">住所</strong>
            <span class="cont" th:text="${Info.address}"></span>
          </li>
          <li class="clearfix">
            <strong class="title">携帯番号 </strong>
            <span class="cont" th:text="${Info.phoneNumber}"></span>
          </li>
          <li class="clearfix">
            <strong class="title">ステータス</strong>
            <span class="cont" th:text="${Info.status}"></span>
          </li>
          <li class="clearfix">
            <strong class="title">入社日</strong>
            <span class="cont" th:text="${Info.hireDate}"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="popup1" class="popup1">
    <div class="popup-content">
      <span class="close" id="closePopup">&times;</span>
      <h2>今のパスワードを入力</h2>
      <form id="popupFormCurrentPwd">
        <!-- 在此添加表單元素 -->
        <span id="msg"></span>
        <input type="password" name="currentPwd" id="currentPwd"placeholder="今のパスワード">
        <button type="submit" class="changeInfo" >送信</button>
      </form>
    </div>
  </div>
  <div id="popup2" class="popup2">
    <div class="popup-content">
      <span class="close" id="closePopup2">&times;</span>
      <h2>パスワード変更</h2>
      <form id="changePwd" th:action="@{/changePwd}" th:method="post">
        <!-- 在此添加表單元素 -->
        <span th:text="${msg}" id="msg"></span>
        <input type="password" name="newPwd" class="newPwd" placeholder="変更するパスワード">
        <input type="password" name="pwdregister" class="pwdregister" placeholder="パスワードの確認">
        <button type="submit" class="changeInfo" >変更する</button>
      </form>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../static/js/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/js/register.js}" src="../../static/js/register.js"></script>
</body>
</html>