<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRMS notice</title>
    <link rel="stylesheet" th:href="@{/css/IndexSubStyle.css}" href="../../static/css/IndexSubStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
    <div class="container">
        <img src="../img/indexSub.jpg" class="indexSub_img" alt="" th:src="@{/img/indexSub.jpg}" th:class="indexSub_img">
        <i class="fa-solid fa-newspaper"><span>&ensp;会社からのお知らせ</span></i>
    </div>
    <div class="news">
        <div class="newsbar ">
            <button>すべて</button>
            <button>ニュースリリース</button>
            <button>お知らせ</button>
            <button>イベント</button>
            <div class="line"></div>
        </div>
        <br>
        <div class="newsdata ">
            <div class="date">2023.06.06</div>
            <div class="title">世界2例目となるスマートシティ国際規格</div>
            <div class="department">営業部</div>
            <div class="date line">2023.06.06</div>
            <div class="title">世界2例目となるスマートシティ国際規格</div>
            <div class="department">営業部</div>
            <div class="date line">2023.06.06</div>
            <div class="title">世界2例目となるスマートシティ国際規格</div>
            <div class="department">営業部</div>
            <div class="date line">2023.06.06</div>
            <div class="title">世界2例目となるスマートシティ国際規格</div>
            <div class="department">営業部</div>
            <div class="date line">2023.06.06</div>
            <div class="title">世界2例目となるスマートシティ国際規格</div>
            <div class="department">営業部</div>
            <div class="date line">2023.06.06</div>
            <div class="title">世界2例目となるスマートシティ国際規格</div>
            <div class="department">営業部</div>
        </div>

    </div>
</body>
</html>