<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>HRManagementSystem</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styleindex.css}" href="../../static/css/styleindex.css" />
	<script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../static/js/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/attendance.js}" src="../../static/js/attendance.js"></script>
</head>

<body>
	<div>
		<table>
			<tr>
				<td>
					<!--畫面的白色部分在這邊。-->
					<div id="content">
						<div style="font-size: 50px;text-align: center;">勤怠登録</div>
						<br>
						<h1 th:text="${msg}"></h1>
						<div>
							<p id="time" style="font-size: 40px;text-align: center;"></p>
						</div>
												<div style="text-align: center;">
													<button id="btn1" type="button"  th:value="${checkin}" >出勤</button>
													<button id="btn2" type="button"  th:value="${checkout}">退勤</button>
													<button id="btn3" type="button"  th:value="${restin}" >休憩</button>
													<button id="btn4" type="button"  th:value="${restout}">戻り</button>
												</div>
						
						
						<div th:if="${msg}" th:text="${msg}" class="alert alert-success"></div>

<!--						<form th:action="@{/checkin}" method="post">-->
<!--							<input type="hidden" name="buttonType" value="checkin" />-->
<!--							<button type="submit" name="buttonType" value="checkin" >出勤</button>-->
<!--						</form>-->
<!--						<form th:action="@{/checkout}" method="post">-->
<!--							<input type="hidden" name="buttonType" value="checkout" />-->
<!--							<button type="submit" name="buttonType" value="checkout" >退勤</button>-->
<!--						</form>-->
<!--						<form th:action="@{/restin}" method="post">-->
<!--							<input type="hidden" name="buttonType" value="restin" />-->
<!--							<button type="submit" name="buttonType" value="restin" >休憩</button>-->
<!--						</form>-->
<!--						<form th:action="@{/restout}" method="post">-->
<!--							<input type="hidden" name="buttonType" value="restout" />-->
<!--							<button type="submit" name="buttonType" value="restout" >戻り</button>-->
<!--						</form>-->
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>