<!-- Last Modified 24-12-2009 by Menuka Walpitagamage -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../../static/css/style.css" />
</head>
<body>
<div id="content">
  <div id="innerholder">
    <h3>
    <span></span>
    <p style="text-align: left;">HRMS社員システム</p>
    <hr>
    </h3>
    <form th:action="@{/login}" th:method="post">
        <div>
            <div id="label"><b>User Name :</b></div>
            <div class="roundedfield">
                <input name="loginId" type="text" id="loginId">
            </div>
        </div>
        <div>
            <div id="label"><b>Password :</b></div>
            <div class="roundedfield">
                <input type="password" name="password" id="password">
            </div>
        </div>
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        <input type="submit" value="Login" id="loginbutton" name="loginbutton"/>
    </form>
  </div>
</div>
<script th:src="@{/js/shadedborder.js}" src="../../static/js/shadedborder.js"></script>
<script type="text/javascript" src="js/shadedborder.js"></script>
<script language="javascript" type="text/javascript">
  var holderBorder = RUZEE.ShadedBorder.create({ corner:20, border:2 });
</script>
<script language="javascript" type="text/javascript">
    holderBorder.render('content');
</script>
</body>
</html>