<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>Human Resources Management System Login page</title>
  <link rel ="Stylesheet"type="text/css" th:href="@{css/SingInPageStyle.css}"  href="../../static/css/SingInPageStyle.css">
  <link rel ="Stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>


<body>
  <form th:action="@{/login}" th:method="post" class="login">
    <h1 class="title">HRMS人材管理システム</h1>
    <i class="fa fa-user-circle-o"></i>
    <p></p>
    <input  type="text" name="loginId" id="loginId"required=""  />
    <label alt="社員番号" placeholder="社員番号"></label>
    <input type="password"  name="password" id="password" required="" />
    <label alt="パスワード" placeholder="パスワード"></label>
    <div th:if="${error}" th:text="${error}" class="errormsg"></div>
    <input type="submit" value="ログイン"id="loginbutton" name="loginbutton"/>
  </form>
</body>
</html>